* {
    box-sizing: border-box;
}


body {
    background-color: white;
    margin: 0;
    padding: 0;
}

.caja1 {
    border: #EB0202 solid 2px;
    height: 60px;
}

.caja2 {
border: rgb(214, 32, 250) solid 1px;
height: 700px;
}

.caja3 {
    border: #be3333;
 height: 300px; padding-left: 10%;
}

.caja4 {
    border: #be3333;
    height: 300px; padding-left: 10%;
   }
  

.caja5 {
    background-color: rgb(119, 0, 255);
height: auto;
}

.caja6 {
    border: #3502eb solid 2px;
    height: 300px;
}
.caja7 {
    border: #3502eb solid 2px;
    height: 300px;
}